.btn-container {
  /*text-align: center*/
}

video {
  /*background-color: grey;*/
  /*width: 100%;*/
  margin: auto auto;
  /*border: 1px solid black;*/
  padding: 0px;
  width:100%;
  max-height: 90vh;
}

.btn-row {
  align-content: center;
}

.videoStream {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

#local-video-div {
  padding: 0px;
}

#remote-video-div {
  padding: 0px;
}
