
html {
  font-size: 16px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.25rem;
}

.list-container {
  padding: 30px;
}

.cards {
    /* Add shadows to create the "card" effect */
    box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border: 1px solid #E4E4E4;
    margin-top: 17px;
}

/* On mouse-over, add a deeper shadow */
.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.break {
  margin: 10px 0;
}

p {
  line-height: 10px;
}

/********************/
/****** SEARCH ******/
/********************/

.search-section {
  padding-top: 100px;
}

.form-control {
  font-size: 2rem;
  height: 50px;
}

#custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }

    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .search-query:focus + button {
        z-index: 3;
    }


/*******************/
/****** NAV ********/
/*******************/

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    font-size: 1.24rem;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #f05f40; }
  #mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #F05F40; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #F05F40 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: white; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.05);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: #F05F40; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #f05f40; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #F05F40; } }
