body {
  font-size: 14px;
  overflow: hidden;
}

.btn-container {
  /*text-align: center*/
}

/* CHAT BOX */
#chat-box {
  position: fixed;
  left: 0;
  bottom: 0;
  height: calc(100% - 56px);
  width: 28vw;
  /*width: 400px;*/
  min-width: 350px;
  max-width: 400px;
  border: 1px solid lightgray;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 100;
  opacity: 0.95;
}

#open-chat-button {
  background-color: whitesmoke;
  color: gray;
  padding: 5px;
  padding-bottom: 20px;
  position: absolute;
  right: -35px;
  top: 40%;
  transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  border: 1px solid lightgray;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#open-chat-button:hover {
  box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.25);
}

#open-chat-button > p {
  padding: 5px;
}

.showBox {
  transition: 0.2s;
  -webkit-transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  transform: translateX(0%) !important;
}

#messages{
  background-color: whitesmoke;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  position: absolute;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% - 40px);
  overflow:hidden;
  overflow-y:scroll;

}

.message-item {
  background-color: white;
  min-height: 65px;
  padding: 7px;
  width: 100%;
  position: relative;
  left: 0px;
}

.message-item.darker {
  background-color: #efefef;
}

.message-img {
  float: left;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin: 5px;
}


.message-text {
  padding-left: 60px;
  padding-right: 5px;
  padding-top: 2px;
  margin-bottom: 0;
}

#send-message-box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

#message-input {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 75%;
  padding: 5px;
}

#message-button {
  position: absolute;
  right: 0px;
  width: 25%;
  height: 100%;
  padding: 0;
  border-radius: 0px;
}

.mine {
  background-color: lightgray;
}
/* VIDEO */

#invitePeopleButton {
  cursor: pointer;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  width: 70%;
  text-align: center;
  min-width: 419px;
}

/*#roomNameInput {*/
/*max-width: 30%;*/
/*};*/

.sm-text-box {
  width: 70%;
}

video {
  /*background-color: grey;*/
  /*width: 100%;*/
  /*border: 1px solid black;*/
  padding: 0px;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.videoStream > video {
  transform: rotateY(0deg);
  -webkit-transform:rotateY(0deg); /* Safari and Chrome */
  -moz-transform:rotateY(0deg); /* Firefox */
}

.screenshare {
  transform: rotateY(0deg) !important;
  -webkit-transform:rotateY(0deg) !important; /* Safari and Chrome */
  -moz-transform:rotateY(0deg) !important; /* Firefox */
}

h5 {
  font-weight: 400;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-content: center;
}

.center-vertical {
  margin-top: calc(20vh - 65px);
}

.btn-row {
  align-content: center;
}

.videoStream {
  margin: 0 auto;
  /* width: 100%; */
  padding: 0;
}

#local-video-div {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0px;
  max-width: 100%;
  height: 100%;
}

#remote-video-div {
  padding: 0px;

  /* height: 91vh; */}

.centering {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0px;
  /* max-width: 100%; */
  /* height: 100%; */
}

/* MODAL */
.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.modal-content {
  color: white;
  /*width: 75%;*/
}

.modal-body {
  /*color: gray;*/
  color: white;
}


.userRow {
  height: 70px;
  margin: 15px;
  margin: 5px 15px 0px 15px;
}

.userImg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.userName {
  margin-left: 20px;
  margin-top: 20px;
  color: white;
  width: 160px;
}

.inviteBtn {
  height: 40px;
  margin-left: 12px;
  margin-top: 12px;
}
/*!* Modal *!*/
/*#myModal {*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-content: center;*/
/*}*/

/*.modal-content {*/
  /*width: 75%;*/
  /*height: 125px;*/
  /*margin-top: 2.5%;*/
  /*color: white;*/
/*}*/


#link {
  text-align: center;
}

.close {
  margin-left: 5px;
  color: white;
}

.close:hover {
  color: white;
}
